<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(BlazingPizzasMainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(BlazingPizzasMainLayout)">
            <div class="main">Sorry, there's nothing at this address.</div>
        </LayoutView>
    </NotFound>
</Router>