@inherits LayoutComponentBase

<header>
    <h1>Blazing Pizza</h1>
    <nav>
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/myorders">My Orders</NavLink>
        <NavLink href="/checkout">Checkout</NavLink>
    </nav>
</header>

@Body

<footer>
    Developed by Nkomo Malcolm Nigel - Zimbabwe
</footer>